<%= form_for([@review, @review.comments.build]) do |f| %>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :author %><br />
      <%= f.text_field :author, class: "form-control", :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :body %><br />
      <%= f.text_area :body, class: "form-control", :required => true %>
    </div>
    <%= f.submit 'Post', class: "btn btn-primary btn-sm" %>
    <span @click="showCommentInput = false" class="btn btn-warning btn-sm text-white">Cancel</span>
  </div>
</div>

<% end %>
