<%= form_for @review do |f| %>
<div id="review-form" class="row">
  <div class="col-sm-3">
    <img :src="userImage" @error="handleInvalidImage" class="url-image img-fluid" />
    <div class="form-group url-input">
      <%= f.text_field :image, class: "form-control mt-3", placeholder: "Enter image url", :@blur => 'updateImage' %>
      <p v-if="showError" class="text-danger mt-2">Enter a valid url</p>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="form-group col-sm-5">
        <%= f.label :title, 'Movie Title' %><br />
        <%= f.text_field :title, class: "form-control", maxlength: 25, :required => true %>
      </div>
      <div class="form-group col-sm-5">
        <%= f.label :author, 'Author' %><br />
        <%= f.text_field :author, class: "form-control", maxlength: 25, :required => true %>
      </div>
      <div class="form-group col">
        <%= f.label :rating, 'Rating' %><br />
        <%= f.number_field :rating, class: "form-control", min: 0, max: 10, :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :text, 'Write your review' %><br />
      <%= f.text_area :text, class: "form-control text-area", minlength: 50, maxlength: 1000, height: "300px", :required => true %>
    </div>
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<script>
  var dynamicImage = new Vue({
    el: '#review-form',
    data: {
      defaultImage: 'http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png',
      userImage: '<%= @review.image %>',
      showError: false
    },
    methods: {
      updateImage(e) {
        this.userImage = e.target.value;
        this.showError = false;
      },
      handleInvalidImage() {
        this.userImage = this.defaultImage;
        this.showError = true;
      }
    },
    created() {
      if (this.userImage.length == 0) {
        this.userImage = this.defaultImage;
      }
    }
  });
</script>
