<div id="review" class="container">
  <p class="mt-4">
    <strong>Title: </strong>
    <%= @review.title %>
  </p>
  <p>
    <strong>Rating: </strong>
    <%= @review.rating %>
  </p>
  <p>
    <strong>Author: </strong>
    <%= @review.author %>
  </p>
  <p>
    <strong>Review:</strong>
    <%= @review.text %>
  </p>
  <p>
    <strong>Image:</strong><br>
    <img :src="image" @error="defaultImage" width="250px">
    <p v-if="text.length">{{ text }} <%= link_to 'Edit here', edit_review_path(@review) %></p>
  </p>
</div>

<script>
  
  var imageError = new Vue({
    el: '#review',
    data: {
      image: '<%= @review.image %>',
      newImage: 'http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png',
      text: ''
    },
    methods: {
      defaultImage() {
        this.image = this.newImage;
        this.text = 'Image url was invalid.'
      }
    }
  })
  
</script>